

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}
#pane {
 overflow: auto;
}

#message_text {
    width:50%
}

#addMessageForm {
  width:100%;
  margin:5px 0;
  padding:3px;
  color: #d9d9d9;
}

#chatterDiv {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  width:30%;
  float:right;
  margin:5px 0;
  padding:3px;
}

#messages {
    float:left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border:1px solid #999999;
  width:70%;
  margin:5px 0;
  padding:3px;
}

.currentChatter {
    font-weight: bold;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}